:root{
    --white-color: #fff;
    --back-color: #000;
    --text-color: #333;
    --border-color:#dbdbdb;
    --special-color: #ee4d2d;
}

*{
    box-sizing: inherit;
}

li,
ul{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}



a{
    text-decoration: none;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__wrap{
    display: flex;
    flex-wrap: wrap;
}

@keyframes FadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.btn{
    min-width: 142px;
    height: 36px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    font-size: 1.4rem;
    border-radius: 4px;
}

.btn--primary{
    background-color: var(--special-color);
    color: var(--white-color);
}

/* Modal */
.modal{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.modal__container{
    position:relative;
    margin: auto;
    z-index: 1;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    background-color: var(--white-color);
    animation: growth ease-in 0.1s;
}