.blank::after{
    content: "";
    display: block;
    border-left: 1px solid #F96D5C;
    position: absolute;
    top: 7px;
    right: 0;
    height: 16px;
}

.header{
    height: 120px;
    background: linear-gradient(-180deg,#f53d2d,#f63);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar__item{
    padding: 8px 7px;
}

.navbar__item,
.navbar__item-link{
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300px;
    position: relative;
    color: var(--white-color);
}
.navbar__icon:hover,
.navbar__item:hover,
.navbar__item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.navbar__icon{
    font-size: 1.6rem;
    padding: 0 3px;
}

.navbar__item--none{
    cursor: text;
    color: var(--white-color);
}

/* QR code */
.navbar__qrcode-container{
    display: none;
    width: 186px;
    position: absolute;
    top: 100%;
    left: 7px;
    border-radius: 4px;
    background-color: var(--white-color
    );
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
    animation: FadeIn ease-in 0.5s;
}

.navbar__app{
    display: flex;
    justify-content: space-between;
}

.navbar__qrcode-container>img{
    width: 100%;
}

.navbar__app-link:first-child{
    margin-left: 11px;
}

.navbar__app-link:last-child{
    margin-right: 11px;
}

.navbar__app-link>img{
    height: 18px;
}

.navbar__item--show:hover .navbar__qrcode-container{
    display: block 
}

/* Notify header */

.notify{
    display: none;
    position: absolute;
    background-color: var(--white-color);
    right: 0;
    width: 400px;
    top: 115%;
    border: 1px solid #d3d3d3;
    transform-origin: 90% top;
    animation: notifyGrowth ease-in 0.2s;
    will-change: opacity, transform ;
}

.notify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 6px;
    top: -30px;
}

.notify::after{
    content: "";
    display: block;
    width: 90px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -16px;
}

.notify__header{
    color: var(--text-color);
    line-height: 40px;
    width: 100%;
    cursor: auto;
}

.notify__header h3{
    margin: 0;
    padding: 0 12px;
}

.notify__list{
}

.notify__item{
    padding-left: 16px;
    min-height: 60px;
}

.notify__link{
    display: flex;
    align-items: flex-start;
    color: var(--text-color);
}

.notify__img{
    width: 48px;
    object-fit: contain;
}

.notify__info{
    padding-left: 12px;
}

.notify__info-name{
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
}

.notify__info-discription{
    display: block;
    margin-bottom: 7px;
    opacity: 0.7;
    font-size: 1.3rem;
}

.notify__footer{
    padding: 8px 0;
    font-weight: 400;
}

.notify__footer-item{
    display: block;
    color: var(--text-color);
    text-align: center;
    line-height: 24px;
}

.navbar__notify--show:hover .notify{
    display: block;
}

@keyframes notifyGrowth{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

.search__container{
    display: flex;

}

.search__logo-container{
    width: 200px;
}

.search__cart{
    width: 200px;
    
}

.search__bar-container{

}

.search__recommend-list{

}

.search__recommend-item{
    display: inline-block;
}

.search__recommend-item >a{
    color: var(--white-color);
}


/* Authen modal */

.modal__body{

}

.auth-form{

}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2rem;
    font-weight: 500;
}

.auth-form__swithbtn{
    display: flex;
    align-items: center;
    color: #ee5233;
    font-size: 1.4rem;
    font-weight: 800;
    cursor: pointer;
}

.auth-form__form{
    margin-top: 24px;
    margin-bottom: 12px;
}

.auth-form__body{

}

.auth-form__input{
    display: block;
    padding: 12px 8px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.auth-form__aside{
    text-align: center;
}

.auth-form__policy-text{
    font-size: 1.1rem;
    padding: 0 8px;
}

.auth-form__policy-link{
    color: var(--special-color);
}

.auth-form__controls{
    position: absolute;
    right: 32px;
    bottom: 70px;
    text-transform: uppercase;
}

.auth-form__socials{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    line-height: 32px;
    padding: 0 24px;
}

.auth-form__socials .fa-btn{
    background-color: #1877f2;
    color: var(--white-color);
    margin: 8px 4px 8px 0;
}

.auth-form__socials .gg-btn{
    background-color: var(--white-color);
    color: var(--black-color);
    margin: 8px 0 8px 4px;
}

.auth-form__socials .btn{
    flex: 1;
}


